name: Test OpenAPI Snapshot Action

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test-action:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run OpenAPI Snapshot Action
        uses: ./
        with:
          schema-file: "./example-schema.json"
          project: "patzick/test-project"
